<!DOCTYPE html>
<html>
  <head>
    <title>Cosmoblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, data: { turbo_method: "delete" }) %>
    <% else %>
      <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
